body {
	padding-left: 11em;
	font-family: Georgia, "Times New Roman",
		Times, serif;
	color: black;
	background-color: silver
	}
	h1 {
		color: blue
	}
	ul.navbar {		
		postion:absolute;
		top:2em;
		left:1em;
		width:9em;
	}
